body {
  background-color: #f9f9f9;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.main-container {
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  align-items: center;
}

.start-game, .result, .final-result {
  width: 80%;
  margin-top: 15px;
  margin-bottom: 15px;
  border: 1px solid lightgray;
  background-color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.selections {
  width: 80%;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 20px;
  display: flex;
}

#start-button {
  font-size: 1rem;
  padding: 6px;
}

#game-count {
  margin-top: 10px;
}

#time-count {
  margin-top: 6px;
  color:red;
}

.selections {
  display: flex;
  justify-content: center;
}

.selection {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 100ms;
  font-size: 2.5rem;
  margin-right: 8px;
  margin-left: 8px;
}

.selection:hover {
  transform: scale(1.5);
}

.session-results {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 30px;
}

#session-winner, #session-score {
  display: flex;
  margin-top: 10px;
  width: 50%;
  border: 1px solid lightgray;
}

.session-winner-title, .session-score-title {
  font-weight: bold;
  width: 80px;
  background-color: lightgray;
  padding: 6px;
  text-align: center;
}

.session-winner, .session-score {
  text-align: center;
  padding: 6px;
}

.session-score {
  margin-left: 4px;
}

.player-result, .computer-result {
  flex: 50%;
  text-align: center;
  padding: 6px;
  font-size: 1.2rem;
}

.final-winner, .winning-rate {
  height: 20px;
  margin: 4px;
}

#new-game {
  margin-top: 20px;
  font-size: 1rem;
  padding: 6px;
}
