body {
  background-color: #ccc;
}

.selections {
  display: flex;
  justify-content: center;
}

.selection {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 100ms;
  font-size: 2rem;
}

.selection:hover {
  transform: scale(1.2);
}

.none {
  display: none;
}